{% extends 'base.html.twig' %}

{% block title %}Évènements{% endblock %}

{% block body %}
    <section id="main">
        <a id="back" href="{{ path('app_manifestations')}}">
            <div>
                <i class="material-icons material-symbols-rounded">arrow_circle_left</i>
                <h4>Retour</h4>
            </div>
        </a>
        <div class="event-detail">
            <div class="top">
                <img id="image" src="{{ asset ('img/' ~manif.Affiche ) }}" alt="event">
                <div class="top-right">
                    <div>
                        <h2 id="date">{{ manif.Date }}</h2>
                        <h3 id="horaire">{{ manif.Horaire}}</h3>
                    </div>
                    <h3>Tarif : <span id="prix">{{ manif.Prix }}</span> €</h3>
                </div>
            </div>
            <div class="titre">
                <div>
                    <h1 id="titre">{{ manif.Titre }}</h1>
                    <h3>{{ manif.Genre }}</h3>
                </div>
                <div>
                    <label for="nb-places"><h4>Nombre de places à réserver</h4></label>
                    <input id="qte" type="number" id="nb-places" name="nb-places" min="1" placeholder="1">
                    <input type="hidden" id="id" value="{{ manif.id }}">
                    <button id="ajout" class="bttn-primary">Réserver</button>
                </div>
            </div>
            <div class="lieu-detail">
                <div class="adresse">
                    <i class="material-icons">pin_drop</i>
                    <div><h3>{{ manif.Lieux.Nom }}</h3><h4>{{ manif.Lieux.Adresse }}<br> {{ manif.Lieux.Ville }} <br>{{ manif.Lieux.Cp }}</h4></div>
                </div>
                <a href="{{ path('lieu_detail', {'lieu':manif.lieux.id})}}" class="bttn-secondary">Voir la fiche lieu</a>
            </div>
            <div class="description">
                <h3>Description</h3>
                <p>{{ manif.Description }}</p>

                <h3>Crédit(s)</h3>
                <p>{{ manif.Casting }}</p>
            </div>
        </div>

    </section>

    <script>
        document.getElementById("ajout").addEventListener("click", function () {
        var id = document.getElementById("id").value;
        var titre = document.getElementById("titre").innerHTML;
        var date = document.getElementById("date").innerHTML;
        var horaire = document.getElementById("horaire").innerHTML;
        var image = document.getElementById("image").src;
        var prix = document.getElementById("prix").innerHTML;
        console.log(id + " " + image + " " + prix);

        index = montab.findIndex((element) => element.id == id); //trouver l'article dans la liste du panier
        if (index > -1) {
            montab[index].quantite += parseInt(document.getElementById("qte").value);
            console.log(montab);
        } else {
            montab.push({
            id: id,
            titre: titre,
            date: date,
            horaire: horaire,
            image: image,
            quantite: parseInt(document.getElementById("qte").value),
            prix: prix,
            })
            console.log(montab);
        }
        document.cookie = JSON.stringify(montab); // sauvegarde des infos dans le cookie "liste"
        var panier = 0;
        montab.forEach(element => {
            panier += parseInt(element.quantite);
        });
        document.getElementById("panier").innerHTML = panier;
        });
    </script>
{% endblock %}