{% extends 'base.html.twig' %}

{% block title %}Panier - SAÉ301{% endblock %}

{% block body %}
<section id="main-valid">
    <h1>Votre panier</h1>
    <div id="cart">
        <table>
            <thead>
                <th><h3>Évènement(s)</h3></th>
                <th><h3>Quantité</h3></th>
                <th><h3>Prix unitaire</h3></th>
                <th><h3>Prix total</h3></th>
            </thead>
            <tbody>
        {% for article in panier %}
                <tr id="{{article.id}}">
                    <td class="infos"><h3>{{article.titre}}</h3><br><h4>{{article.date}} - {{article.horaire}}</h4></td>
                    <td><div><h4>{{article.quantite}}</h4></div></td>
                    <td><h4><span class="unitaire">{{article.prix}} €</span></h4></td>
                    <td><h4><span class="prix">{{(article.prix * article.quantite)|round(2)}}</span><span> €</span></h4></td>
                    <td><h4><a href="{{ path('app_panier')}}">Modifier votre panier</a></h4></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        <div id="panier-mobile">
            {% for article in panier %}
            <div id="{{article.id}}">
                <div id="thead">
                    <div>
                        <h3 class="th">Évènement</h3>
                        <div class="td"><h3 class="th">{{article.titre}}</h3><br><h4>{{article.date}} - {{article.horaire}}</h4></div>
                    </div>
                    <div>
                        <h3 class="th">Quantité</h3>
                        <div id="quantite">
                            <div><h4>{{article.quantite}}</h4></div> 
                        </div>
                    </div>
                </div>
                <div id="tbody">
                    <div>
                        <div><h3 class="th">Prix unitaire</h3><h4><span class="unitaire">{{article.prix}} €</span></h4></div>
                        <div><h3 class="th">Prix total</h3><h4><span class="prix">{{(article.prix * article.quantite)|round(2)}}</span><span> €</span></h4></div>
                        <div><h4><a href="{{ path('app_panier')}}">Modifier votre panier</a></h4></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h2><span>Total : </span><span id="total">{{total}}</span> €</h2>
    </div>

    <h1>Adresse de livraison</h1>
    <form action="{{path ("panier_achat")}}" method="post">
        <div class="form-div">
            <div>
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" placeholder="Votre nom" required>
            </div>
            <div>
                <label for="prenom">Prénom</label>
                <input type="text" name="prenom" id="prenom" placeholder="Votre prénom" required>
            </div>
        </div>
        <div class="form-div">
            <div>
                <label for="adresse">Adresse</label>
                <input type="text" name="adresse" id="adresse" placeholder="Votre adresse" required>
            </div>
            <div>
                <label for="ville">Ville</label>
                <input type="text" name="ville" id="ville" placeholder="Votre ville" required>
            </div>
            <div>
                <label for="cp">Code postal</label>
                <input type="text" name="cp" id="cp" placeholder="Votre code postal" required>
            </div>
        </div>

        <h1>Moyen de paiement</h1>
        <div id="div-moyens">
            <div class="moyens">
                <input type="checkbox" name="paypal" id="paypal">
                <i class="fa-brands fa-paypal"></i>
                <label for="paypal">Paypal</label>
            </div>
            <div id="cb-closed" class="moyens">
                <input type="checkbox" name="cb" id="chkCard" onclick="showCB()">
                <i class="fa-solid fa-credit-card"></i>
                <label for="cb">Carte bancaire</label>
                <div id="cb-open">
                    <label for="titulaire">Nom du titulaire</label>
                    <input type="text" name="titulaire" id="titulaire">
                    <div>
                        <div>
                        <label for="num">Numéro de la carte</label>
                        <input type="text" name="num" id="num">
                        </div>
                        <div>
                        <label for="crypto">Crytogramme</label>
                        <input type="text" name="crypto" id="crypto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="moyens">
                <input type="checkbox" name="cheque" id="cheque">
                <i class="fa-solid fa-money-check-dollar"></i>
                <label for="cheque">Chèque</label>
            </div>
            <div class="moyens">
                <input type="checkbox" name="virement" id="virement">
                <i class="fa-solid fa-money-bill-transfer"></i>
                <label for="virement">Virement</label>
            </div>
        </div>
            <input type="submit" class="bttn-primary btn" value="Valider la commande">
        </form>
</section>
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}