{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section id="main-form">
        <h1>Connectez-vous</h1>


        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    <h3>Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a></h3>
                </div>
            {% endif %}

            <label for="inputEmail"><h2>E-mail</h2></label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword"><h2>Mot de passe</h2></label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button type="submit" class="bttn-primary">Connexion</button>
        </form>

            <hr>

            <h3>Vous n'êtes pas encore inscrit ? Inscrivez-vous.</h3>

            <a href="{{ path('app_register')}}" class="bttn-secondary">Inscription</a>

    </section>
    <script src="{{ asset('js/general.js') }}"></script>
    <div id="footer-mobile">

{% endblock %}
