{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}
{% block meta_description %}Sur votre compte vous retrouvez l'ensemble de vos commandes. Vous pouvez également télécharger la facture associée en PDF.{% endblock %}

{% block body %}
<section id="main" class="cart-acc">
    <h1>Profil</h1>
    <h2>Vos commandes</h2>
    <div id="cart" class="cart-compte">
        <table>
            <thead>
                <th><h3>Date</h3></th>
                <th><h3>Détails</h3></th>
                <th><h3>Prix</h3></th>
                <th><h3>PDF</h3></th>
            </thead>
            <tbody id="zone">
                {% for commande in commandes %}
                    <tr>
                        <td><h4>{{ commande.date | date ('d M Y H:i') }}</h4></td>
                        <td>{% for manif in commande.manifestations %}
                            <div>
                                <h3>{{ manif.titre }} </h3>
                                <h3>x {{ manif.quantite }}</h3>
                            </div>
                            <h4>{{ manif.date }} - {{ manif.horaire }}</h4>
                            <br>
                            {% endfor %}
                        </td>
                        <td><h4>{{ commande.total }}</h4></td>
                        <td><button class="bttn-secondary">Télécharger le PDF</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div id="panier-mobile">
        {% for commande in commandes %}
            <div id="thead">
                <div>
                    <h3 class="th">Date</h3>
                    <div class="td"><h4>{{ commande.date | date ('d M Y H:i') }}</h4></div>
                </div>
                <div>{% for manif in commande.manifestations %}
                    <h3 class="th">Détails</h3>
                    <div class="td">
                        <div>
                            <h3 class="th">{{ manif.titre }} </h3>
                            <h3>x {{ manif.quantite }}</h3>
                        </div>
                        <h4>{{ manif.date }} - {{ manif.horaire }}</h4>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tbody">
                <div>
                    <div><h3 class="th">Prix</h3><h4>{{ commande.total }}</h4></div>
                    <div><button class="bttn-secondary">Télécharger le PDF</button></div>
                </div>
            </div>
        {% endfor %}
        </div>

    </div>
</section>
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}
