{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}
{% block meta_description %}Sur votre compte vous retrouvez l'ensemble de vos commandes. Vous pouvez également télécharger la facture associée en PDF.{% endblock %}

{% block body %}
<section id="main">
    <h1>Profil</h1>
    <h3>Vos commandes</h3>
    <div id="cart">
        <table>
            <thead>
                <th><h3>Date</h3></th>
                <th><h3>Détails</h3></th>
                <th><h3>Prix</h3></th>
                <th><h3>PDF</h3></th>
            </thead>
            <tbody id="zone">
                {% for commande in commandes %}
                    <tr>
                        <td>{{ commande.date | date ('d M Y H:m') }}</td>
                        <td>{% for manif in commande.manifestations %}
                            {{ manif.titre }} {{ manif.date }} {{ manif.horaire }}<br>
                            {% endfor %}
                        </td>
                        <td>{{ commande.total }}</td>
                        <td><button>PDF</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</section>
    <script src="{{ asset('js/general.js') }}"></script>
{% endblock %}
