{% extends 'base.html.twig' %}

{% block title %}Lieux Culturels{% endblock %}

{% block body %}
    <section id="main">
        <div>
            <h3>{{ lieu.Nom }}</h3>
            <p>{{ lieu.Adresse }}</p>
            <p>{{ lieu.Ville }}</p>
            <p>{{ lieu.Cp }}</p>
            <p>{{ lieu.Capacite }}</p>
            <img src=" {{ asset ('img/' ~lieu.Image ) }}" alt=""><br><br>
        </div>

            <h1>Évènements</h1>
            <div  id="events" class="events_lieu">
            {% if events %}
                {% for event in events %}
                <a href="{{ path('manifestation_detail', {'manifestation':event.id}) }}" class="event">
                    <div class="zoom">
                        <div class="image">
                            <img src=" {{ asset ('img/' ~event.Affiche ) }}" alt="event">
                        </div>
                    </div>
                    <h2>{{ event.Titre }}</h2>
                    <div><i class="material-icons">schedule</i><h4>{{ event.Date|date("d/m/Y") }} - {{ event.Horaire}}</h4></div>
                    <div class="genre"><h4>{{ event.Genre }}</h4></div>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </section>
{% endblock %}